In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

# Load the dataset
data = pd.read_csv("bank.csv")

In [2]:
# Display the first few rows of the dataset
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [5]:
# Identify categorical features
categorical_features = data.select_dtypes(include=['object']).columns

# Handle categorical variables using label encoding
label_encoder = LabelEncoder()

for feature in categorical_features:
    data[feature] = label_encoder.fit_transform(data[feature])

In [6]:
# Now, split the data into features and target variable
X = data.drop('deposit', axis=1)
y = data['deposit']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Initialize the model
model = Sequential()

# Add layers to the model
model.add(Dense(units=64, activation='relu', input_dim=X_train.shape[1]))
model.add(Dense(units=32, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/10
280/280 [==============================] - 1s 2ms/step - loss: 5.0184 - accuracy: 0.6605 - val_loss: 6.7874 - val_accuracy: 0.6538
Epoch 2/10
280/280 [==============================] - 0s 2ms/step - loss: 2.8411 - accuracy: 0.6810 - val_loss: 2.3884 - val_accuracy: 0.6346
Epoch 3/10
280/280 [==============================] - 0s 1ms/step - loss: 2.6767 - accuracy: 0.6909 - val_loss: 2.9874 - val_accuracy: 0.6973
Epoch 4/10
280/280 [==============================] - 1s 2ms/step - loss: 2.1577 - accuracy: 0.7078 - val_loss: 2.8449 - val_accuracy: 0.6292
Epoch 5/10
280/280 [==============================] - 0s 2ms/step - loss: 2.1161 - accuracy: 0.7040 - val_loss: 4.6324 - val_accuracy: 0.6305
Epoch 6/10
280/280 [==============================] - 0s 2ms/step - loss: 2.2636 - accuracy: 0.7095 - val_loss: 4.8699 - val_accuracy: 0.6113
Epoch 7/10
280/280 [==============================] - 0s 2ms/step - loss: 3.8396 - accuracy: 0.6957 - val_loss: 3.8500 - val_accuracy: 0.6032
Epoch 8/10
280/280 [==============================] - 0s 2ms/step - loss: 1.6014 - accuracy: 0.7331 - val_loss: 1.4695 - val_accuracy: 0.6682
Epoch 9/10
280/280 [==============================] - 1s 2ms/step - loss: 1.6419 - accuracy: 0.7267 - val_loss: 0.9520 - val_accuracy: 0.7707
Epoch 10/10
280/280 [==============================] - 1s 2ms/step - loss: 1.8677 - accuracy: 0.7249 - val_loss: 1.3641 - val_accuracy: 0.7640

In [20]:
# Evaluate the model on the test set
y_pred_prob = model.predict(X_test)
y_pred = (y_pred_prob > 0.5).astype(int)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

70/70 [==============================] - 0s 979us/step
Accuracy: 0.7639946260635916